[Desktop Entry]
Encoding=UTF-8
Name=Media Control
Type=Service

X-KDE-Library=mediacontrol
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Parker Stromberg
X-KDE-PluginInfo-Email=parker.stromberg@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=parker.mediacontrol
X-KDE-PluginInfo-Version=1.0
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Category=ApplicationStatus
X-Plasma-DBusActivationService=org.mpris.MediaPlayer2.*
